<div class = "doctors_sign_up_page">
  <div class = "doctors_sign_up_row">
    <div class = "doctors_sign_up_column">
      <h2>Hello</h2>
      <h1>World.</h1>
      <p>Making Health Care Better Together</p>
      <p>Now , Treat Your Patient Online </p><br>
      <h3>E-Sign Act Disclosure and Consent</h3>
      <p>Before proceeding you must confirm that you <br> have read and agree the terms of the medical act mentioned</p>
    </div>
  </div>
  <div class = "doctors_sign_up_row2">
  <h1 class="doctor_sign_up_register_keyword">Register</h1>
    <div class = "doctors_sign_up_column2">
    
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="doctors_sign_up">
            <%= f.label :name, class: 'doctors_signup_label' %><br />
            <%= f.text_field :name, autofocus: true, class: "doctors_sign_up_text_fields" %>
            <%= resource.errors.full_messages_for(:name).first %>
          </div>

          <div class="doctors_sign_up">
            <%= f.label :email, class: 'doctors_signup_label' %><br />
            <%= f.email_field :email, class: "doctors_sign_up_text_fields" %><br>
            <%= resource.errors.full_messages_for(:email).first %>
          </div>

          <div class="doctors_sign_up">
            <%= f.label :specialist, class: 'doctors_signup_label' %><br />
            <%= f.text_field :specialist, class: "doctors_sign_up_text_fields" %>
            <%= resource.errors.full_messages_for(:specialist).first %>
          </div>

          <div class="doctors_sign_up">
            <%= f.label :experience, class: 'doctors_signup_label' %><br />
            <%= f.number_field :experience, class: "doctors_sign_up_text_fields" %>
            <%= resource.errors.full_messages_for(:experience).first %>
          </div>

          <div class="doctors_sign_up">
            <%= f.label :age, class: 'doctors_signup_label' %><br />
            <%= f.number_field :age, class: "doctors_sign_up_text_fields" %>
            <%= resource.errors.full_messages_for(:age).first %>
          </div>

          <div class="doctors_sign_up">
            <%= f.label :location, class: 'doctors_signup_label' %><br />
            <%= f.text_field :location, class: "doctors_sign_up_text_fields" %>
            <%= resource.errors.full_messages_for(:location).first %>
          </div>

          <div class="doctors_sign_up">
            <%= f.label :password, class: 'doctors_signup_label' %><br />
            <%= f.password_field :password, class: "doctors_sign_up_text_fields" %>
            <%= resource.errors.full_messages_for(:password).first %>
          </div>

          <div class="doctors_sign_up">
            <%= f.label :password_confirmation, class: 'doctors_signup_label' %><br />
            <%= f.password_field :password_confirmation, class: "doctors_sign_up_text_fields" %>
            <%= resource.errors.full_messages_for(:confirm_password).first %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "doctor_sign_up_submit_button" %>
          </div>
          <div class = "doctor_sign_up_links">
          <%= render "doctors/shared/links" %>
          </div>
        <% end %>
        </div>
      </div>
</div>