<div>
       
    <ul class='header'>

    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'All products', products_path %></li>

    <% if admin_signed_in? %>

        <li><%= link_to 'Add Product', new_product_path %></li>
        <li class= 'right'><%= link_to 'Admin out', destroy_admin_session_path, data: {turbo_method: :delete} %>

    <% end %>

    <li><%= render 'layouts/search' %></li>
    
    <% if session[:user_id] %>

        <li class='right'><%= button_to "Log out", sessions_sign_out_path, method: :delete%> </li>
        <li class='right'><%= link_to "Admin sign in", new_admin_session_path %></li>

    <% end %>

        <li class='right'><%= link_to "Admin sign in", new_admin_session_path %></li>
        <li class='right'><%= link_to "Sign in User", sessions_sign_in_path %></li>
        <li class='right'><%= link_to "Sign up User", users_sign_up_path %></li>
  
    </ul>

</div>