<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='body'>
   
    <%= render 'layouts/header' %>

    <div class='notice_and_alert_message' >
      <b><%= notice %></b>
      <b><%= alert %></b>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
