<div class="header">
  <%= button_to "+ New", new_blog_path, method: :get, class: 'new-button' %>
  <%= render 'blogs/search' %>
  <% if user_signed_in? %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'logout-button' %>
  <%end%>
</div>
<h1>All blogs</h1>
<div class="blogs-container">
  <% @blogs.each do |blog| %>
    <div class="blog-card">
      <h2><%= link_to blog.title, blog_path(blog) %></h2>
      <br>
      <p><%= truncate(blog.description, length: 200) %></p>
    </div>
  <% end %>
</div>
<div class="blogs_pagination">
  <%= will_paginate @blogs %>
</div>