<div class="header">
  <%= button_to "+ New", new_blog_path, method: :get, class: 'new-button' %>
  <%= render 'blogs/search' %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'logout-button' %>
</div>
<% if @query.count == 0 %>
    <h2>No blog with this name</h2>
<%end%>
<% if @query.count() != 0 %>
    <h2><%= @query.count() %> Results</h2>
<% end %>
<div class="blogs-container">
  <% @query.each do |blog| %>
    <div class="blog-card">
      <h2><%= link_to blog.title, blog_path(blog) %></h2>
      <br>
      <p><%= truncate(blog.description, length: 200) %></p>
    </div>
  <% end %>
</div>
<div class="blogs_pagination">
  <%= will_paginate @query %>
</div>