<%= link_to "<- Back", blogs_path, class: "back_button" %>
<div class="blog-content" data-blog-id="<%= @blog.id %>">
<% if @blog.image.present? %>
  <%= image_tag @blog.image.url, alt: @blog.title %>
  </div>
  <div class="blog-text">
  <h1 class = 'blog_title'><%= @blog.title %></h1>
  <p class="blog_description"><%= @blog.description %></p>
  </div>
<% else %>
  <div class="blog-full">
  <h1 class = 'blog_title'><%= @blog.title %></h1>
  <p class = 'blog_description'><%= @blog.description %></p>
  </div>
<% end %>
</div>
<div class = "comment_container">
  <strong class="comment_headline">Comments:</strong><br>
  <% @comment.each do |comment| %>
    <%= render partial: 'comments/comment', locals: { comment: comment } %>
  <% end %>
</div>
<div class="comment_form"><%= render 'comments/form' %></div>
<!-- Include your other HTML content here -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    App.comment = App.cable.subscriptions.create({ channel: "CommentChannel", id: <%= @blog.id %> }, {
      connected: function() {
        console.log("Action Cable connected!");
      },
      disconnected: function() {
        console.log("Action Cable disconnected!");
      },
      rejected: function() {
        console.log("Action Cable connection rejected!");
      },
      received: function(data) {
        console.log("Received data from Action Cable:", data);
        // Handle received data
      }
    });
  });
</script>
