<style>
*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
</style>
<div class="wrapper">
  <nav class="nav">
    <div class="nav-logo">
    <p>BLOGGING</p>
    </div>
  <div class="nav-menu" id="navMenu">
  <ul>
    <li><a href="#" class="link active">Home</a></li>
    <li><a href="#" class="link">Blog</a></li>
    <li><a href="#" class="link">Services</a></li>
    <li><a href="#" class="link">About</a></li>
  </ul>
  </div>
  <div class="nav-button">
    <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
    <%= button_to "Sign Up", new_user_registration_path, method: :get, class: "btn", id: "registerBtn" %>
  </div>
  <div class="nav-menu-btn">
    <i class="bx bx-menu" onclick="myMenuFunction()"></i>
  </div>
  </nav>
<div class="form-box">
<div class="register-container" id="register">
  <div class="top">
  <span>Have an account? <%= link_to "Login", new_user_session_path %></span>
  <header>Sign Up</header>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="input-box">
    <%= f.text_field :name, autofocus: true, class: "input-field", placeholder: "Name" %>
    <i class="bx bx-envelope"></i>
    </div>
    <div class="input-box">
    <%= f.text_field :mobile, autofocus: true, class: "input-field", placeholder: "Mobile" %>
    <i class="bx bx-envelope"></i>
    </div>
    <div class="input-box">
    <%= f.email_field :email, autofocus: true, class: "input-field", placeholder: "Email" %>
    <i class="bx bx-envelope"></i>
    </div>
    <div class="input-box">
    <%= f.password_field :password, class: "input-field", autocomplete: "new-password", placeholder: "Password" %>
    <i class="bx bx-lock-alt"></i>
    </div>
    <div class="input-box">
    <%= f.password_field :password_confirmation, class: "input-field", autocomplete: "new-password", placeholder: "Confirm Password" %>
    <i class="bx bx-lock-alt"></i>
    </div>
    <div class="input-box">
    <%= f.submit "Sign up", class: "submit" %>
    </div>
  <% end %>
</div>
</div>
</div>