<% @user = User.find(comment.user_id) %>
<div class="comment_wrapper">
  <div class="comment_username"><%= @user.name %>:</div>
  <div class="comment_content">
    <%= comment.content %><br>
    <%= button_to "Delete", blog_comment_path(@blog, comment), method: :delete, class: "delete_button" %>
  </div>
  <a href="#" class="reply_form_display" data-comment-id="<%= comment.id %>">reply<br></a>
  <div class="reply_form">
    <%= render partial: 'comments/form', locals: { blog: @blog, comment: comment } %>
  </div>
  <% comment.comments.each do |sub_comment| %>
    <div class="comment_replies">
      <%= render partial: 'comments/comment', locals: { comment: sub_comment } %>
    </div>
  <% end %>
</div>
<script>
document.querySelectorAll('.reply_form_display').forEach((el) =>{
    el.addEventListener('click',(ev) => {
        ev.preventDefault();
        var commentId = el.dataset.commentId;
        var form = el.nextElementSibling.querySelector('form');
        form.querySelector('input[name="comment[parent_id]"]').value = commentId;
        el.nextElementSibling.style = 'display: block;'
    })
})
</script>