<%= turbo_frame_tag dom_id(appointment) do%>
  <div class="appointment">
    <div class="doctor-name"><b><%= appointment.doctor_name %></b></div>
    <div class="appointment-details">
      <div class="date"><%= appointment.appointment_date %></div>
      <div class="time"><%= appointment.appointment_time.strftime("%H:%M:%S") %></div>
      <div class="disease"><%= appointment.disease %></div>
    </div>
    <div class="actions">
      <%= link_to "Edit", edit_appointment_path(appointment), data: { turbo: false } %>
      <%= button_to "Cancel", appointment_path(appointment), method: :delete %>
    </div>
  </div>
<% end %>
