<p>Log in</p>

<div class='admin_sign_in_form'>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        <b><div class = 'admin_sign_in_error' ><%= resource.errors.full_messages_for(:email).first %></div></b>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "password_field", placeholder: "Password" %>
        <input type='button' id='passwd' value='Show'>
        <b><div class = 'admin_sign_in_error' ><%= resource.errors.full_messages_for(:password).first %></div></b>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <p class='admin_devise_links'><%= render "admins/shared/links" %></p>

</div>

<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    
<script>

    $(document).ready(function(){
          $("#passwd").click(function(){
             if ($("#passwd").attr('value')=='Show'){
              $("#passwd").attr('value', 'Hide')
              $(".password_field").attr('type', 'text')
             }
             else {
              $("#passwd").attr('value', 'Show')
              $(".password_field").attr('type', 'password')
             }
          })
      })

</script>