<h1>List of all products</h1>
    
    <center>
        <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Action</td>
            </tr>

            <% @products.each do |prod| %>
            <tr>
                    <td><%= prod.id %></td>
                    <td><%= prod.name %></td>
                    <td><%= link_to 'Show', product_path(prod) %>
                        <% if admin_signed_in? %>
                        <%= link_to 'Edit', edit_product_path(prod) %>
                        <%= link_to 'Delete', product_path(prod), method: :delete, data: {confirm: "Are you sure?"} %>
                        <% end %>
                    </td>
            </tr>
            <% end %>
        </table>

        <%= will_paginate @products %>

    </center>