<h1>Resend unlock instructions</h1>

<div class='admin_resend_unlock_instruction_page'>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "admins/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    <% end %>

    <p class = 'admin_devise_links'> <%= render "admins/shared/links" %> </p>

</div>