<div>
    <h1 style='text-align:center'>Sign in</h1>

    <%= form_with url: sessions_sign_in_path do |form| %>

        <div class='user_sign_in_form'>

            <%= form.label :email, :class => 'user_sign_in_label' %>
            <%= form.email_field :email, :class => 'user_sign_in_field' %>
            <b><p id='sign_in_email_error'></p></b>

            <%= form.label :password, :class => 'user_sign_in_label' %>
            <%= form.password_field :password, :class => 'user_sign_in_field' %>
            <b><p id='sign_in_password_error'></p></b>

            <input type='checkbox' onclick='passwdVisible()' class='check'>Show password
                
            <br>

            <button type=submit id='submit' onclick='validations()'>Sign in</button>
            <p id='sign'>New member? <%= link_to 'Sign up', users_sign_up_path %><br></p>
            
            
        </div>

    <% end %>

</div>

<script>

    function passwdVisible(){
        var passwd = document.getElementById('password');
        if(passwd.type === 'password'){
            passwd.type='text';
        } 
        else {
            passwd.type = 'password';
        }
    }

    function validations() {
        var email_field = document.getElementById('email').value
        var pass_field = document.getElementById('password').value

        if (email_field == ''){
            document.getElementById('sign_in_email_error').innerHTML = 'Please enter a valid email';
        }
        else if (!email_field.match(/[a-z0-9]+@[a-z]+\.[a-z]{2,3}/)){
            document.getElementById('sign_in_email_error').innerHTML = 'Invalid email';
        }
        else{
            document.getElementById('sign_in_email_error').innerHTML = "";
        }

        if (pass_field == ''){
            document.getElementById('sign_in_password_error').innerHTML = "Please enter a valid password";
        }
        else {
            document.getElementById('sign_in_password_error').innerHTML = "";
        }
    }

</script>