<p>Edit product details</p>

<%= form_with model: @product do |form| %>
    
    <div class='adding_new_product'>

        <div>
            <%= form.label :name, :class => 'product_form_label' %><br>
            <%= form.text_field :name, :class => 'product_form_fields' %><br>
            <div class = 'sign_up_error' ><%= @product.errors.full_messages_for(:name).first %></div>
        </div>

        <div>
            <%= form.label :category, :class => 'product_form_label' %><br>
            <%= form.select :category,['Beauty', 'Electronic', 'Fashion', 'Grocery', 'Sports', 'Medicine'], :class => 'product_form_fields' %><br>
            <div class = 'sign_up_error' ><%= @product.errors.full_messages_for(:category).first %></div>
        </div>
            
        <div>    
            <%= form.label :price, :class => 'product_form_label' %><br>
            <%= form.number_field :price, :class => 'product_form_fields' %><br>
            <div class = 'sign_up_error' ><%= @product.errors.full_messages_for(:price).first %></div>
        </div>

        <div>
            <%= form.label :image, :class => 'product_form_label' %><br>
            <%= form.file_field :image, :class => 'product_form_file_field', onchange: "imagePreview(event)" %><br>
            <div align='center'><%= image_tag '', id: "preview_product_image" %></div>
            <div class = 'sign_up_error' ><%= @product.errors.full_messages_for(:image).first %></div>
        </div>

        <div>    
            <%= form.label :description, :class => 'product_form_label' %><br>
            <%= form.rich_text_area :description, :class => 'product_form_fields' %><br>
            <div class = 'sign_up_error' ><%= @product.errors.full_messages_for(:description).first %></div>
        </div>

        <p class='submit_product_details'><%= form.submit %>

    </div>

<%end%>

<script>

    function imagePreview(event) {
        var preview = document.getElementById('preview_product_image');
        preview.src = URL.createObjectURL(event.target.files[0]);
    };

</script>