<div class='searched_product_page'>
<center>

    <% if @query.count == 0 %>
        <h2>No product found</h2>
    <% end %>

        <table>

            <% if @query.count() != 0 %>
            <h2><%= @query.count() %> Results</h2>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Action</td>
            </tr>
            <% end %>

            <% @query.each do |prod| %>
            <tr>
                    <td><%= prod.id %></td>
                    <td><%=image_tag prod.image, class: 'product_index_page_image' %><br><%= prod.name %></td>
                    <td><%= link_to 'Show', product_path(prod) %>
                        <% if admin_signed_in? %>
                        <%= link_to 'Edit', edit_product_path(prod) %>
                        <%= link_to 'Delete', product_path(prod), method: :delete, data: {confirm: "Are you sure?"} %>
                        <% end %>
                    </td>
            </tr>
            <% end %>
        </table>

</center>
</div>