<!DOCTYPE html>
<html>
  <head>
    <title>BlogSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'cable', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'channels/blogs_channel', 'data-turbo-track': 'reload' %>
  </head>

  <body>
  <div class='notice_and_alert_message'>
      <b><%= notice %></b>
      <b><%= alert %></b>
  </div>
  <%= yield %>
  </body>
</html>
